input,
textarea,
select {
    appearance: none;
    width: 100%;
    /* height: 3rem; */

    padding: 0.8125rem 1rem;
    background-color: var(--input-base);

    color: var(--input-placeholder);

    border: 1px solid var(--input-stroke);
    
    border-radius: .5rem;

    font: var(--body-md);

}

input:focus,
select:focus,
textarea:focus {
    outline: 1px solid var(--brand-dark);
    /* border-color: var(--stroke-hightlight); */

    /* fazer funcionar no safari */
    outline-offset: .1px;
}

input[type="datetime-local"] {
    
    &::-webkit-calendar-picker-indicator {
        opacity: 0;
    }
}

label {
    display: block;
    margin-bottom: 0.75rem;

    font: var(--body-sm);
    color: var(--text-body);
}