.radio-wraper {
    display: grid;
    gap: 1rem;
    width: 100%;

    grid-template-columns: repeat(auto-fit, 1fr);

    & label {
        margin: -1.3px;
    }
}

.radio-background {
    border: 1px solid var(--input-stroke);
    height: 3rem;
    background-color: var(--input-base);
    border-radius: 0.5rem;
    padding: 0.25rem;
    gap: 0.5rem;
}

.radio-inner {
    width: 100%;
    border-radius: 0.5rem;

    display: grid;

    align-items: center;
    justify-content: center;

    grid-auto-flow: column;
    gap: 0.5rem;

    padding: 0.25rem;

    position: relative;

    & input,
    & input:focus,
    & input:hover {
        all: unset;
        position: absolute;
        inset: 0;
    }

    &:hover,
    &:focus-within {
        /* border: 1px solid var(--stroke-hightlight); */

        /* & .radio-image {
            background-image: url(../../assets/icons/radio-hover.svg);
        } */
    }

    &:has(:checked) {
        background-color: var(--shape-button);

        width: 100%;
        height: 100%;
        border-radius: 0.5rem;

        & img[src*="build"] {
            background-image: url(../../assets/icons/build-checked.svg);
        }

        & img[src*="video"] {
            background-image: url(../../assets/icons/video-checked.svg);
        }
    }
}

.radio-wraper-colors {
    gap: .75rem;
    width: 100%;
    justify-content: center;
    align-items: center;
    border: 3px solid transparent;

    & input,
    & input:hover {
        all: unset;
        /* position: absolute; */
        /* inset: 0; */
    }

    & input[type="radio"]:focus-within,
    & input:focus {
        border: 4px solid var(--brand-light);
    }

    &:hover {
        cursor: pointer;
    }


    & input[type="radio"] {

        width: 2.5rem;
        height: 2.5rem;

        border-radius: 50%;

        border: 4px solid var(--input-stroke);


        &[aria-label="brand-light"] {
            background-color: var(--brand-light);
        }

        &[aria-label="brand-mid"] {
            background-color: var(--brand-mid);
        }

        &[aria-label="brand-dark"] {
            background-color: var(--brand-dark);
        }

        &[aria-label="purple"] {
            background-color: var(--purple);
        }

        &[aria-label="fuschia"] {
            background-color: var(--fuschia);
        }

        &[aria-label="pink"] {
            background-color: var(--pink);
        }

        &[aria-label="orange"] {
            background-color: var(--orange);
        }

        &[aria-label="yellow"] {
            background-color: var(--yellow);
        }

        &[aria-label="lime"] {
            background-color: var(--lime);
        }

        &[aria-label="green"] {
            background-color: var(--green);
        }

        &[aria-label="cyan"] {
            background-color: var(--cyan);
        }

        &[aria-label="navy"] {
            background-color: var(--navy);
        }

    }

}