#layout {
    display: grid;
    grid-template-columns: 33.87% 66.13%;
    
    max-width: 90rem;
    height: 100vh;

    background-color: var(--shape-background);

    padding: 1.25rem;
    overflow: hidden;

    gap: 1.25rem;
    margin-inline: auto;

}
